

* {
    padding: 0;
    margin: 0;
}

.contact_section {
    margin: auto;
    padding: 25px 0;
}

.form {
    
    display: flex;
    justify-content: space-between;
}

.background {
    background-color:  #ecd2c6;
    display: flex;
    justify-content: space-between;

    width: 475px;
    .column:last-child {
        text-align: right;
    }
  
}

form {
    flex-direction: column;
    display: flex;

    input {
        width: 450px;
        height: 17px;

        
    }
    .message {
       height: 80px;
       width: 100%;
    }


}
.button {
    background-color: #ecd2c6;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border: 2px solid #7e6f69;
    border-radius: 10px;
}

.icon {
    background-image: url(../img/litleicons/image.png);
    background-repeat: no-repeat;
    background-size: 17px;
    position: relative;
    display: inline-block;
    width: 17px;
    height: 15px;
}
.iconphone {
    background-image: url(../img/litleicons/phone.png);
    background-repeat: no-repeat;
    background-size: 17px;
    position: relative;
    display: inline-block;
    width: 17px;
    height: 16px;
}
.bus {
    background-image: url(../img/litleicons/bus.png);
    background-repeat: no-repeat;
    background-size: 17px;
    position: relative;
    display: inline-block;
    width: 17px;
    height: 16px;
}
.i {
    background-image: url(../img/litleicons/i.png);
    background-repeat: no-repeat;
    background-size: 17px;
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
}
.p {
    background-image: url(../img/litleicons/p.png);
    background-repeat: no-repeat;
    background-size: 17px;
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
}
@media screen and (max-width: 1021px) {

    .contact_section {
        width: 100%;
        padding: 25px 0;
        align-items: center;
        text-align: center;

        .bacground {
            display: flex;
            flex-direction: column;
            > * {
                padding-top: 6px;
            }
        }
      
        .trouver {
            padding-top: 20px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .texterea {
            align-self: center;
            width: 200px;
            text-align: left;
        }
        .form {
            flex-wrap: wrap;
            justify-content: center;
         
        }
    }
}